header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background: #2e2481;
    border-radius: 0px 0px 33px 33px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    box-sizing: border-box;
}