/* INICIO barra de navegacion*/


header .logo{
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}
header nav{
    position: relative;
    float: right;
    z-index: 9999;
}
header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li.sub-menu:before{
    content: '\f0d7';
    font-family: fontAwesome;
    text-overflow:clip;
    position:absolute;
    line-height: 50px;
    color:antiquewhite;
    right: 5px;
}
header nav ul li.active.sub-menu:before{
    content: '\f0d8';
}
header nav ul li{
    list-style: none;
    position:relative;
}
header nav ul li ul{
    position: absolute;
    border-radius: 0px 0px 33px 33px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    left: 0;
    list-style: none;
	background-color:#2d248189;
    display: none;
}
header nav ul li.active ul{
    display:inline-block;
}
header nav ul li ul li{
display: block;
width: 180px;

}
header nav ul li a{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display:block;
}
header nav ul li a:hover,
header nav ul li a.active{
    color: #fff;
    background:#2e2481;
    border-radius: 0px 0px 33px 33px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu-toggle{
    color:antiquewhite;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
header nav ul li a:hover{
    color: #C7FB93;
}

@media (max-width:991px){
    header{
        padding: 0 20px;
    }
    .menu-toggle{
        display: block;
    }
    header nav{
        position: absolute;
        width: 100%;
        height:calc(100vh - 50px);
        background:#2d248176;
        top: 50px;
        left: -100%;
        transition: 0.5s;
        border-radius: 0px 0px 33px 33px;
    }
    header nav.active{
        left: 0;
    }
    header nav ul{
        display: block;
        text-align: center;
    }
    header nav ul li a{
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    header nav ul li.active ul{
        position: relative;
        background:#2d2481b8;
    }
    header nav ul li ul li{
        width: 100%;
    }
}


/* FIN barra de navegacion*/
