/* INICIO que es geo*/

.palabras{
    padding: 10px;
    margin: 5px;
    color:#313131;
    text-align:justify;
    letter-spacing: 0px;
    border-radius: 24px;
}
.palabras h2{
    padding-bottom: 10px;
    text-align: center;
}
.palabras p{
    padding-bottom: 10px;
}
.monitores{
    margin: 20px;
    padding: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.banner{
    width: 90%;
    height: 70%;
    margin: 16px;
    display: flex;
    flex-direction: row;
    padding: 0px;
}
.container{
    width: 100%;
    display: flex;
    max-width: 1100px;
    flex-wrap: wrap;
    justify-content: center;
}
.cardq img{
    width: 100%;
    height: 200px;
}
.cardq .contenidom{
    margin: opx;
    padding: 0px;
    text-align: center;
}
.cardq .contenidom p{
    margin: 10px;
    padding: 0px;
    line-height: 1.5;
    font-size: 16px;
    color: #6a6a6a;
}
.cardq .contenidom h3{
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 25px;
}
.cardq .contenidom a{
    color: #2e2481;
    background-color: #FFADAD;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    transition: all 300ms ease;
}
.cardq .contenidom a:hover{
    color: #C7FB93;
}

.cardq {
    width: 100%;
    max-width: 300px;
    margin: 10px;
}

@media screen and (min-width: 768px) {
    .cardq {
    width: calc(33.33% - 20px);
    }
}
/* FIN que es geo*/